.sim-slider-current, .sim-slider-progress{display:none !important;}
.sim-slider{background: #036EB6;}
.sim-slider-slide h3, .sim-slider-slide p{color:#fff;}
@media (min-width:768px){
.sim-slider-slide h3{font-size:30px;}
.sim-slider-slide p{font-size:20px;}
}
@media (max-width:767px){
.sim-slider-slide h3{font-size:8px;}
.sim-slider-slide p{font-size:6px;}
}
#wrapper {
	width: 100%;
	float: left;
	
}
#buttons{
	width: 100%;
	float: left;
	margin-top: 100px;
	height: 40px;
}
#buttons-inner{
	height: 40px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.buttons-inner-button{
	float: left;
	height: 40px;
	margin-right: 10px;
	margin-left: 10px;
		
}
.buttons-inner-button a{
	color: #fff;
	background-color: #fff;
	line-height: 40px;
	height: 40px;
	text-decoration: none;
	display: block;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.buttons-inner-button a:hover{
	background-color: #fff;

}
.sim-slider-current-inner-tab{background-color:#fff !important;}