/* CSS Document */
body{
margin:0px;padding:0px;font: normal 12px Verdana, Arial, Helvetica, sans-serif;
background: url(../images/mainbg.gif) repeat-x #FFFFFF;color: #4a4a4a;
}
a,a img
{
	border:0px;
	outline:none;
	text-decoration:none;
}
.yellow 
{
	background-image: url(../images/redbg.gif);background-repeat: no-repeat;background-position: left top;margin: 0px;
	 width:59px;height: 33px;font-family: tahoma;font-size: 12px;font-weight: bold;color: #FFFFFF;
	text-decoration: none;	border:0px;
}
.black
{
	background-image: url(../images/blackbg.gif) ;background-repeat: no-repeat;	background-position: left top;
	margin: 0px;width:59px;height:33px;font-family: tahoma;	font-size: 12px;font-weight: bold;	color: #FFFFFF;
	text-decoration: none;	border:0px;
}
.manditoryfield {
	font-weight: normal;font-family:Arial, Helvetica, sans-serif;font-size:11px;border:#000000 1px solid;
	color: #000000;	padding: 2px;
}
.normltext
{
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;	color:#000000;
}
.text
{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;	color:#952F2B;
}
.textredblod
{
	font: normal 20px "Times New Roman", Times, serif; color:#952f2b;
}
.textblackblod
{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;	color:#000000;
}
.textblackblod a
{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;	color:#000000; text-decoration:none;
}
.textblackblod a:hover
{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;	color: #990000;
}
.textwhiteblod
{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;	color: #FFFFFF;
}
.footer
{
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;color: #000000;
}
.home
{
	color: #FFFFFF;
}
.home a
{
	background:url(../images/homenrl.gif) no-repeat;display: block;	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color: #000000;	text-decoration: none;	font-weight: bold;
	padding-left: 65px;	padding-top: 14px;	padding-bottom: 23px;
}
.home a:hover, a.activeTabhome
{
	background: url(../images/homehover.gif) no-repeat ;display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;color: #000000;	text-decoration: none;
	font-weight: bold;padding-left: 65px;padding-top: 14px;	padding-bottom: 23px;
}
.company
{
	color: #FFFFFF;
}
.company a
{
	background:url(../images/companynrl.gif) no-repeat;display: block;	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color: #000000;	text-decoration: none;	font-weight: bold;
	padding-left: 65px;	padding-top: 14px;	padding-bottom: 23px;
}
.company a:hover, a.activeTabcompany
{
	background: url(../images/companyhover.gif) no-repeat ;display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;color: #000000;	text-decoration: none;
	font-weight: bold;padding-left: 65px;padding-top: 14px;	padding-bottom: 23px;
}
.work
{
	color: #FFFFFF;
}
.work a
{
	background:url(../images/worknrl.gif) no-repeat;display: block;	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color: #000000;	text-decoration: none;	font-weight: bold;
	padding-left: 65px;	padding-top: 14px;	padding-bottom: 23px;
}
.work a:hover, a.activeTabwork
{
	background: url(../images/workhover.gif) no-repeat ;display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;color: #000000;	text-decoration: none;
	font-weight: bold;padding-left: 65px;padding-top: 14px;	padding-bottom: 23px;
}
.news
{
	color: #FFFFFF;
}
.news a
{
	background:url(../images/newsnrl.gif) no-repeat;display: block;	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color: #000000;	text-decoration: none;	font-weight: bold;
	padding-left: 65px;	padding-top: 14px;	padding-bottom: 23px;
}
.news a:hover, a.activeTabnews
{
	background: url(../images/newshover.gif) no-repeat ;display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;color: #000000;	text-decoration: none;
	font-weight: bold;padding-left: 65px;padding-top: 14px;	padding-bottom: 23px;
}
.procategories
{
	color: #FFFFFF;
}
.procategories a
{
	background:url(../images/procategoriesnrl.gif) no-repeat;display: block;	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color: #000000;	text-decoration: none;	font-weight: bold;
	padding-left: 65px;	padding-top: 8px;	padding-bottom: 15px;
}
.procategories a:hover, a.activeTabprocategories
{
	background: url(../images/procategorieshover.gif) no-repeat ;display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;color: #000000;	text-decoration: none;
	font-weight: bold;padding-left: 65px;padding-top: 8px;	padding-bottom: 15px;
}
.projects
{
	color: #FFFFFF;
}
.projects a
{
	background:url(../images/projectnrl.gif) no-repeat;display: block;	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color: #000000;	text-decoration: none;	font-weight: bold;
	padding-left: 65px;	padding-top: 14px;	padding-bottom: 23px;
}
.projects a:hover, a.activeTabprojects
{
	background: url(../images/projecthover.gif) no-repeat ;display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;color: #000000;	text-decoration: none;
	font-weight: bold;padding-left: 65px;padding-top: 14px;	padding-bottom: 23px;
}
.password
{
	color: #FFFFFF;
}
.password a
{
	background:url(../images/changepasswordnrl.gif) no-repeat;display: block;	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color: #000000;	text-decoration: none;	font-weight: bold;
	padding-left: 65px;	padding-top: 14px;	padding-bottom: 23px;
}
.password a:hover, a.activeTabpassword
{
	background: url(../images/changepasswordhover.gif) no-repeat ;display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;color: #000000;	text-decoration: none;
	font-weight: bold;padding-left: 65px;padding-top: 14px;	padding-bottom: 23px;
}
.logout
{
	color: #FFFFFF;
}
.logout a
{
	background:url(../images/logoutnrl.gif) no-repeat;display: block;	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color: #000000;	text-decoration: none;	font-weight: bold;
	padding-left: 65px;	padding-top: 14px;	padding-bottom: 23px;
}
.logout a:hover, a.activeTablogout
{
	background: url(../images/logouthover.gif) no-repeat ;display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;color: #000000;	text-decoration: none;
	font-weight: bold;padding-left: 65px;padding-top: 14px;	padding-bottom: 23px;
}