@charset "utf-8";@font-face{font-family:'Oswald-Regular';src:url('../fonts/Oswald-Regular.ttf');font-weight:normal;font-style:normal;}
@font-face{font-family:'Oswald-Bold';src:url('../fonts/Oswald-Bold.ttf');font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Regular';src:url('../fonts/Lato-Regular.ttf');font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Bold';src:url('../fonts/Lato-Bold.ttf');font-weight:normal;font-style:normal;}
body{font-family:'Lato-Regular';font-size:14px;line-height:24px;color:#999999;}
body{-webkit-animation:fadein 1s;-moz-animation:fadein 1s;-ms-animation:fadein 1s;-o-animation:fadein 1s;animation:fadein 1s;}
@keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@-moz-keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@-webkit-keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@-ms-keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@-o-keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
.padding-none{padding:0px !important;}
h1, h2, h3, h4, h5, h6{font-family:'Lato-Bold';}
a, a:hover{text-decoration:none;}
.navbar-inverse{background-color:#114A87;border-color:transparent;}
.navbar-brand{padding:20px 15px;}
.navbar{border-radius:0px;border:none;margin-bottom:0px;}
.navbar-brand > img{display:block;width:150px;height:auto;}
.navbar-inverse .navbar-nav > li > a{font-family:'Oswald-Regular';color:#fff;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;font-size:18px;letter-spacing:1px;padding:0px 24px 0;margin-top:70px;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{color:#fff;background-color:transparent;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.navbar-inverse .navbar-nav > li.free > a{background:#fff;color:#114A87;padding:20px 40px 6px;margin-top:0px;}
.navbar-inverse .navbar-nav > li.free > a span{display:block;text-align:center;letter-spacing:3px;color:#444;}
.navbar-inverse .navbar-nav > li.free > a span.free-star{font-size:36px;padding:5px 0px;border-bottom:2px solid;border-top:2px solid;margin-top:10px;letter-spacing:3px;color:#114A87;font-family:'Oswald-Bold';}
.navbar-inverse .navbar-nav > li.one > a{border-right:1px solid #fff;}
.banner{position:relative;padding:15px 0;}
.banner .banner-bg{background:url(../img/banner-img.jpg) no-repeat center;background-size:cover;height:500px;}
.banner-bg .banner-details{background:rgb(255, 255, 255);color:#114a87;font-size:24px;padding:40px;position:absolute;top:0px;right:0px;font-family:'Lato-Bold';}
.banner-bg .banner-details .font1{display:block;font-size:60px;margin:20px auto;}
.banner-bg .banner-details .font2{display:block;font-size:44px;letter-spacing:1px;margin:20px auto;}
.banner-bg .banner-details .font3{display:block;font-size:34px;letter-spacing:1px;margin:20px auto;}
.banner-bg .banner-coupen{background:#114a87;position:absolute;width:170px;text-align:center;padding:2px;bottom:94px;right:50px;color:#fff;border:5px solid rgba(255, 255, 255, 0.77);z-index:1;}
.banner-bg .banner-coupen:before{content:"";background:url(../img/cut.png) no-repeat center;width:30px;height:22px;position:absolute;bottom:-15px;right:-22px;}
.banner-bg .banner-coupen h4{color:#00B8B5;margin:0px;letter-spacing:1px;font-size:24px;}
.banner-bg .banner-coupen p{color:#fff;margin:0px;position:relative;}
.banner-bg .banner-coupen p:before{content:"";width:24px;height:1px;left:10px;top:11px;position:absolute;background:#fff;}
.banner-bg .banner-coupen p:after{content:"";width:24px;height:1px;right:10px;top:11px;position:absolute;background:#fff;}
.banner-bg .banner-cut{width:84%;position:absolute;bottom:30px;right:50px;}
.banner .banner-form{padding:40px;}
.banner .banner-form .banner-form-inner{background:#114a87;padding:24px 70px 44px;color:#fff;}
.banner .form-horizontal .control-label{text-align:left;font-family:'Oswald-Regular';letter-spacing:1px;font-weight:inherit;color:#444;padding-top:3px;}
.banner .form-horizontal .form-group{background:#fff;padding:4px;}
.banner .form-control{height:30px;background:#f2f2f2;border-radius:0px;}
.banner .banner-form h3{color:#fff;font-family:'Oswald-Bold';letter-spacing:1px;text-align:center;}
.banner .banner-form .less-padd{padding:0 2px;}
.banner .banner-form .form-control{font-family:'Oswald-Regular';}
.phone{background:#114a87;color:#fff;position:relative;padding:10px;}
.phone .form-group{font-family:'Oswald-Regular';margin-bottom:0px;}
.phone p{margin:0px;}
.phone p span{font-family:'Oswald-Regular';font-size:24px;margin-top:5px;margin-bottom:0;display:inline-block;}
.phone p .fa{background:#fff;color:#114a87;padding:3px 5px;border-radius:100%;font-size:24px;}
.phone .btn-default{font-family:'Oswald-Regular';}
.transaction{padding:40px 0;position:relative;color:#444;}
.transaction h2{text-transform:uppercase;color:#114a87;}
.transaction h3{font-family:'Lato-Regular';}
.transaction p{font-size:16px;letter-spacing:2px;line-height:30px;}
.transaction .features ul{padding:0px;list-style:none;}
.transaction .features ul li img{width:30px;margin-right:10px;}
.transaction .features ul li{line-height:30px;margin:10px auto;color:#000;}
.transaction .features h2{font-family:'Oswald-regular';letter-spacing:2px;position:relative;padding-bottom:10px;margin-bottom:15px;}
.transaction .features h2:before{content:"";position:absolute;bottom:0px;width:60%;height:6px;background:#E9E9EA;left:0px;border-radius:10px;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.transaction .features:hover h2:before{width:100%;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.services{padding:40px 0;position:relative;}
.services h3{color:#114a87;letter-spacing:1px;margin-bottom:30px;}
.services .serivce-inner{position:relative;}
.services .serivce-inner img{width:100%;}
.services .serivce-inner p{color:#000;position:relative;}
.services .serivce-inner p:after{content:"";background:#114a87;width:64px;height:1px;display:block;margin:auto;}
.services .serivce-inner ul{color:#000;margin-top:36px;list-style:none;padding:0 0 0 10px;}
.services .serivce-inner ul li{padding-left:20px;}
.services .serivce-inner ul li::before{content:"• ";color:#114a87;position:absolute;left:10px;}
.services .serivce-inner .btn-service{background:#fff;border:1px solid #114a87;color:#114a87;padding:3px 6px;font-size:13px;margin-left:10px;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.services .serivce-inner .btn-service:hover, .services .serivce-inner .btn-service:focus{background:#114a87;border:1px solid #114a87;color:#fff;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.clients{padding:40px 0;position:relative;}
.clients h3, .clients p{text-align:center;}
.clients h3{color:#114a87;}
.clients p{color:#000;letter-spacing:2px;font-size:20px;margin-bottom:50px;}
.clients .client-part{width:20%;float:left;position:relative;}
.clients .client-part img{width:50%;display:block;margin:0 auto;}
.clients .client-part:before{content:"";background:url(../img/client-line.png) no-repeat center;}
.clients .slick-slide{position:relative;}
.clients .slick-slide:before{position:absolute;content:"";width:5px;height:100%;background:url(../img/client-line.png) no-repeat center;right:-22px;background-size:contain;}
.clients .before-none:before{display:none;}
.call-us{background:#f2f2f2;padding:10px;}
.call-us-inner p{color:#333;margin:0px;}
.call-us-inner p .fa{color:#fff;background:#114a87;padding:10px;border-radius:100%;width:35px;text-align:center;margin-right:6px;}
.footer{padding:40px 0 10px;background:#114a87;color:#fff;}
.footer .footerup{position:relative;display:block;overflow:hidden;padding-bottom:20px;border-bottom:1px solid #fff;}
.footer .footerup h4{position:relative;letter-spacing:1px;padding-bottom:10px;}
.footer .footerup h4:before{content:"";background:#fff;width:64%;height:3px;position:absolute;bottom:0px;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.footer .footerup .footer-up-inner:hover h4:before{width:70%;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.footer .footerup ul{padding:0px;list-style:none;}
.footer .footerup ul li{letter-spacing:1px;line-height:30px;}
.footer .footerup ul li a{color:#fff;text-decoration:none;}
.footer .social-icons{text-align:right;}
.footer .social-icons a .fa{color:#fff;background:#114a87;padding:11px 0;border-radius:100%;width:37px;text-align:center;border:1px solid #fff;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.footer .social-icons a .fa:hover{color:#114a87;background:#fff;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.footer-below{position:relative;overflow:hidden;padding:10px;}
.footer-below img{width:120px;}
.footer-below p{margin:0px;text-align:right;}
@media only screen and (min-width:280px) and (max-width:767px){.clients .slick-slide:before, .slick-dots{display:none !important;}
.slick-slide img{width:100% !important;}
.footer-below img{margin:0 auto;display:block;margin-bottom:10px;}
.footer-below p{text-align:center;}
.call-us{text-align:center;}
.footer .social-icons{text-align:left;}
.navbar-brand > img{width:100px;}
.navbar-brand{padding:10px 15px;}
.navbar{min-height:60px;}
.navbar-inverse .navbar-nav > li > a{padding:10px;margin-top:0px;}
.navbar-toggle{margin-top:20px;}
.navbar-inverse .navbar-toggle{border-color:transparent;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{background-color:transparent;}
.banner-bg .banner-details{padding:20px;}
.banner-bg .banner-details .font1{font-size:24px;margin:5px auto;}
.banner-bg .banner-details .font2{font-size:18px;margin:5px auto;}
.banner-bg .banner-details .font3{font-size:14px;margin:5px auto;}
.banner .banner-bg{height:350px;}
.banner .banner-form{padding:10px;}
.banner .banner-form .banner-form-inner{padding:7px 30px;}
.banner .form-horizontal .form-group{margin-bottom:5px;}
.phone{text-align:center;}
.phone p{margin:0px 0 10px;}
.phone .form-group{margin-bottom:10px;}
.transaction{padding:20px 0;}
.transaction p{font-size:14px;letter-spacing:1px;line-height:24px;}
.services{padding:20px 0;}
.services .serivce-inner ul{margin-top:10px;}
.services .serivce-inner{margin-bottom:20px;}
}
@media only screen and (min-width:768px) and (max-width:1199px){.navbar-inverse .navbar-nav > li > a{font-size:14px;}
.navbar-inverse .navbar-nav > li.free > a{padding:10px;}
.navbar-inverse .navbar-nav > li > a{padding:0px 10px 0;}
.navbar-brand > img{width:100px;}
.navbar-brand{padding:30px 15px;}
.footer .social-icons{text-align:center;}
.banner-bg .banner-details{padding:20px;}
.banner-bg .banner-details .font1{font-size:36px;margin:5px auto;}
.banner-bg .banner-details .font2{font-size:28px;margin:5px auto;}
.banner-bg .banner-details .font3{font-size:22px;margin:5px auto;}
.banner .banner-form{padding:20px;}
.banner .banner-form .banner-form-inner{padding:24px 40px 44px;}
.transaction p{font-size:14px;letter-spacing:1px;line-height:24px;}
.call-us{text-align:center;}
}
@media only screen and (min-width:1200px) and (max-width:1300px){.banner .banner-form .banner-form-inner{padding:24px 40px 44px;}
}