@charset "utf-8";
/* CSS Document */

col-md-3{ font-size:13px !important; color:#03569B !important;}

.list-info li label {
  width: 130px;
}
label {
  /* display: inline-block; */
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.list-info li .icon {
  margin-right: 10px;
  color: #1C7EBB;
float: left;
}


.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}




table.table {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.table {
  width: 100% !important;
  max-width: 100% !important;
  margin-bottom: 20px !important;
}

table {
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.panel-default {
  border-color: #e9e9e9;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}


.panel-heading {
  color: #767676;
  background-color: #f6f6f6;
  border-color: #e9e9e9;
}


.ui-checkbox {
  position: relative;
  margin: 0 20px 10px 20px;
}

.ui-checkbox input[type="checkbox"]:checked+span:before {
  border: 1px solid #1C7EBB;
}
.ui-checkbox input[type="checkbox"]+span:hover:before {
  border-color: #1C7EBB;
}

.ui-checkbox input[type="checkbox"]+span:before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: -20px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #ccc;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}


.ui-checkbox input[type="checkbox"]:checked+span:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #1C7EBB;
  display: block;
}


*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox input[type="checkbox"]+span:hover {
  cursor: pointer;
}
.ui-checkbox input[type="checkbox"]+span {
  font-weight: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-radio input[type="radio"]:disabled:checked+span:before{border-color:#ccc}.ui-radio input[type="radio"]:disabled:checked+span:after{opacity:.65;cursor:no-drop;background-color:#ccc}.ui-checkbox{position:relative;margin:0 20px 10px 20px}.ui-checkbox input[type="checkbox"]+span:hover{cursor:pointer}.ui-checkbox input[type="checkbox"]+span:hover:before{border-color:#1C7EBB}.ui-checkbox input[type="checkbox"]:disabled+span:hover{cursor:not-allowed}.ui-checkbox input[type="checkbox"]:disabled+span:hover:before{border-color:#ccc}.ui-checkbox input[type="checkbox"]{display:none}.ui-checkbox input[type="checkbox"]+span{font-weight:normal}.ui-checkbox input[type="checkbox"]+span:before{content:"";width:18px;height:18px;display:inline-block;vertical-align:middle;margin-right:10px;margin-left:-20px;background-color:transparent;border-radius:2px;border:1px solid #ccc;-moz-transition:all 0.15s ease-in-out;-o-transition:all 0.15s ease-in-out;-webkit-transition:all 0.15s ease-in-out;transition:all 0.15s ease-in-out}.ui-checkbox input[type="checkbox"]:disabled+span:before{opacity:.65;border:1px solid #ccc;cursor:no-drop}.ui-checkbox input[type="checkbox"]:checked+span:before{border:1px solid #1C7EBB}.ui-checkbox input[type="checkbox"]:checked+span:after{content:"";width:8px;height:8px;position:absolute;top:7px;left:-15px;background-color:#1C7EBB;display:block}.ui-checkbox input[type="checkbox"]:disabled:checked+span:before{opacity:.65;border:1px solid #ccc}.ui-checkbox input[type="checkbox"]:disabled:checked+span:after{opacity:.65;cursor:no-drop;background-color:#ccc}



.ui-radio{position:relative;margin:0 20px 10px 20px;font-size:14px;line-height:20px;height:20px}.ui-radio input[type="radio"]+span:hover{cursor:pointer}.ui-radio input[type="radio"]+span:hover:before{border-color:#1C7EBB}.ui-radio input[type="radio"]:disabled+span:hover{cursor:not-allowed}.ui-radio input[type="radio"]:disabled+span:hover:before{border-color:#ccc}.ui-radio input[type="radio"]{display:none}.ui-radio input[type="radio"]+span{padding-left:10px;font-weight:normal}.ui-radio input[type="radio"]+span:before{content:"";width:20px;height:20px;display:inline-block;vertical-align:middle;position:absolute;left:-20px;top:0;background:white;border-radius:50%;border:1px solid #ccc;-moz-transition:all 0.15s ease-in-out;-o-transition:all 0.15s ease-in-out;-webkit-transition:all 0.15s ease-in-out;transition:all 0.15s ease-in-out}.ui-radio input[type="radio"]:disabled+span:before{opacity:.65;border:1px solid #ccc;cursor:no-drop}.ui-radio input[type="radio"]:checked+span:before{border-color:#1C7EBB}.ui-radio input[type="radio"]:checked+span:after{content:"";width:8px;height:8px;position:absolute;top:6px;left:-14px;background-color:#1C7EBB;border-radius:50%;display:block}.ui-radio input[type="radio"]:disabled:checked+span:before{border-color:#ccc}.ui-radio input[type="radio"]:disabled:checked+span:after{opacity:.65;cursor:no-drop;background-color:#ccc}.ui-checkbox{position:relative;margin:0 20px 10px 20px}.ui-checkbox input[type="checkbox"]+span:hover{cursor:pointer}.ui-checkbox input[type="checkbox"]+span:hover:before{border-color:#1C7EBB}.ui-checkbox input[type="checkbox"]:disabled+span:hover{cursor:not-allowed}.ui-checkbox input[type="checkbox"]:disabled+span:hover:before{border-color:#ccc}.ui-checkbox input[type="checkbox"]{display:none}.ui-checkbox input[type="checkbox"]+span{font-weight:normal}.ui-checkbox input[type="checkbox"]+span:before{content:"";width:18px;height:18px;display:inline-block;vertical-align:middle;margin-right:10px;margin-left:-20px;background-color:transparent;border-radius:2px;border:1px solid #ccc;-moz-transition:all 0.15s ease-in-out;-o-transition:all 0.15s ease-in-out;-webkit-transition:all 0.15s ease-in-out;transition:all 0.15s ease-in-out}.ui-checkbox input[type="checkbox"]:disabled+span:before{opacity:.65;border:1px solid #ccc;cursor:no-drop}.ui-checkbox input[type="checkbox"]:checked+span:before{border:1px solid #1C7EBB}.ui-checkbox input[type="checkbox"]:checked+span:after{content:"";width:8px;height:8px;position:absolute;top:7px;left:-15px;background-color:#1C7EBB;display:block}.ui-checkbox input[type="checkbox"]:disabled:checked+span:before{opacity:.65;border:1px solid #ccc}.ui-checkbox input[type="checkbox"]:disabled:checked+span:after{opacity:.65;cursor:no-drop;background-color:#ccc}



.ui-select:after{z-index:0;content:"";position:absolute;right:8%;top:50%;color:#CBD5DD;width:0;margin-top:-3px;height:0;border-top:6px solid;border-right:6px solid transparent;border-left:6px solid transparent;pointer-events:none}@-moz-document url-prefix(){.ui-select{overflow:hidden}.ui-select select{width:120%;width:-moz-calc(100% + 3em);width:calc(100% + em)}}.ui-select select:-moz-focusring{color:transparent;text-shadow:0 0 0 #000}





label{ color:#1C56BE; font-weight:400; font-size:14px;}
dt{ color:#1C56BE;}
.panel-heading { colro:#046DB0 !important;}


button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}


.ui-select:after {
  z-index: 0;
  content: "";
  position: absolute;
  right: 8%;
  top: 50%;
  color: #CBD5DD;
  width: 0;
  margin-top: -3px;
  height: 0;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  pointer-events: none;
}

.panel-default>.panel-heading {
  color: #009BFA !important;
  background-color: #f5f5f5;
  border-color: #ddd;
}


@-webkit-keyframes hang {
  50% {
    -webkit-transform: translateY(3px) !important;
    transform: translateY(3px) !important;
  }

  100% {
    -webkit-transform: translateY(6px) !important;
    transform: translateY(6px) !important;
  }
}

@keyframes hang {
  50% {
    -webkit-transform: translateY(3px) !important;
    transform: translateY(3px) !important;
  }

  100% {
    -webkit-transform: translateY(6px) !important;
    transform: translateY(6px) !important;
  }
}

.hang {
  display: inline-block !important;
  -webkit-transition-duration: 0.5s !important;
  transition-duration: 0.5s !important;
  -webkit-transition-property: transform !important;
  transition-property: transform !important;
  -webkit-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0) !important;
}
.hang:hover, .hang:focus, .hang:active {
  -webkit-transform: translateY(6px) !important;
  transform: translateY(6px) !important;
  -webkit-animation-name: hang !important;
  animation-name: hang !important;
  -webkit-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.button {
  margin: 2px;
  padding: 5px;
  cursor: pointer;
 
  text-decoration: none;
  color:#fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-footer{bottom:0px; position:fixed; width:100%;}



.panel {
    border: none;
    box-shadow: none;
}

.panel-heading {
    border-color:#fff !important ;
    font-size: 13px;
    font-weight: 300;
}

.panel-title {
    color: #2A3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

.alert {
  padding: 10px !important;
  margin-bottom: 10px !important;
  border: 0px solid transparent;
  border-radius: 4px;
  background-color:#fff !important ;
  text-shadow:none !important;
  
}
.temp-alert{ margin-left:20px;}
.col-md-1{ margin:0px; padding:0px; margin-top:3px; color:#00acd6;}
.tooltip-wide{ width:500px !important;}
.tooltip-wide .tooltip {min-width:00px; width:500px !important;}
.tooltip-inner {
    text-align: center;
	opacity:none !important;
	color:#fff;
    padding:5px;
	 text-shadow:none !important;
	 font-size:12px !important;
  
   
}
.red-tooltip + .tooltip > .tooltip-inner {background-color: #00c0ef !important;  text-shadow:none !important;}


.tooltip-inner {
    max-width: 350px !important;
	opacity:10 !important;
	border:3px;
	 text-shadow:none !important;
	 
}
.badge{ cursor:pointer;}

.modal-footer {
  padding: 8px !important;}
  
.modal-header{ background-color:#0067B3;}
.modal-title{color:#fff; padding:7px 0px;}


.button{ font-size:11px;}

.sendee-color{background-color:#215A94; color:#fff; bordere-radius:none; font-weight:400; }

.sendee-td{background-color:#C2E4F9; color:#222; width:70px !important;}
.direct-chat-text{

 }
 
 /*datepicker css*/
 
 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.daterangepicker.dropdown-menu {
  
  z-index: 3000;
  top: 148px;
  right: 600px !important;
 
}

.tab-pane{ background-color:#; overflow:hidden; padding:px;}
.tab-pane ul li{ margin-top:5px; list-style:none; width:auto; text-align:left; margin:0px !important; line-height:27px !important;}
.my-tab ul li a{ margin-top:12px !important; padding-top:10px; padding-left:0px; margin:10px 10px;}

.tab-pane{overflow-y: scroll;
    height: 330px;}

	
	
 .tab-content ul li a:hover{ color:#6ed3fd; line-height:16px;}	
 
 .nav-tabs>li.active>a{ background-color:#}

.my-model-scroll{overflow-y: scroll; height:700px;} 
 
 
 .my-model-scroll{
    scrollbar-face-color: #215a94 !important;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}
 
.My-tab-pane{
    scrollbar-face-color: #215a94 !important;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}
.scroll-right{
    scrollbar-face-color: #215a94 !important;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.tab-pane::-webkit-scrollbar {
    width: 7px;
}
.scroll-right::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
.tab-pane::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.scroll-right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
.tab-pane::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 5px;
    background: #3c8dbc; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Handle */
.my-model-scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #3c8dbc; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.scroll-right::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 5px;
    background: #3c8dbc; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.my-model-scroll::-webkit-scrollbar {
    width: 7px;
	height:7px;
}

.modal-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.table>tbody>tr>td{ border:0px !important; }
.alert, .alert h4 {
  color: #222 !important; font-size:13px !important;
  background-color: #d0e7ff !important;
}

.alert {
 
text-shadow:none; 
  background-color: #fcf8e3;
  border: 1px solid #fff !important; 
 
}
.table-bordered>tbody>tr>th{ border:0px !important;}
.table-bordered tr {border:0px !important;
  }
  
 .table-bordered {
  border: 0px !important;
}



.bootstrap-datetimepicker-widget {top: 491px !important;
  left: 732.75px !important;}
  
  
.remodal {   padding: 16px !important;}  
 table td{ font-size:13px;}
 
.remodal-cancel{ height:30px; width:60px; text-align:center; padding:0px !important	; margin-top:10px !important;}
 
.remodal-confirm{ height:30px; width:60px; text-align:center; padding:0px !important;  margin-top:10px !important;}


  
 .temp-bg{background-color:#d0e7ff !important;}
 
 .class="tab-class"{ margin-right:50px !important;}
 
