body{background:#F5F5F5;}
.padding_zero{padding-left:0px !important;padding-right:0px !important;}
.padding_ltzero{padding-left:0px !important;}
.padding_rtzero{padding-right:0px !important;}
.header_top{text-align:center;}
.form_container{width:80%;margin:auto;}
.form_container input[type="text"]{width:80%;float:left;height:60px;    padding: 0px 10px;}
.form_container input[type="submit"]{width:20%;float:left;height:60px;    background: #005C9F;
    border: 0px;
    color: #fff;
    font-size: 20px;}
.long_url{margin:30px 0px;}
.short_url a{float:left;}
.copy_url{height:24px;border:1px solid #000;padding:0px 6px;border-radius:5px;margin-left:5px;}
.short_div{width:65%;margin:auto;}
.short_div_bg{background:#fff;padding: 55px 0px;border:1px solid #DEE2E4;margin-bottom: 25px;}
.short_div h1{margin-top:0px;color: #005C9F;    margin-bottom: 22px;}
.logo_header{text-align:center;margin: 50px 0px;}