.featu-content{    position: relative;
    width: 100%;
    float: left;
	
	}

.featu-content:hover .content-cdiv{background:#b7e5e6;}

 .content-cdiv{
	 width:100%;float:left;
	 padding:55px 25px 25px 25px;
   text-align:center;
   transition:0.5s ease-in-out;-webkit-transition:0.5s ease-in-out;-moz-transition:0.5s ease-in-out;-o-transition:0.5s ease-in-out;
 }
 .feature-span{font-size:19px;height: 90px;display:block;position:relative;font-weight: bold;}
 .feature-span::before{position:absolute;content:"";border:1px solid #4dcdcb;    bottom: 18px;
    width: 50%;
    left: 45px;}
	.featu-content:hover  .feature-span::before{border:1px solid #fff;}
 .featu-content:hover .feature-span{color:#fff;}
 .feature-diamond-box{margin-top: 60px;}
 .content-img{width:100%;float:left;position:absolute;top:-38px;}

 .cont-bgimg01, .cont-bgimg02, .cont-bgimg03, .cont-bgimg04{width:70px;height:70px;border:2px solid #7fdbda;padding:10px;border-radius:50%;margin: auto;
 }
 .cont-bgimg01{
 background:url('../images/features-icon-high-active.png') no-repeat center;background-size:50px;
 }
 .cont-bgimg02{
 background:url('../images/features-icon-multi-operator-active.png') no-repeat center;background-size:50px;
 }
 .cont-bgimg03{
 background:url('../images/features-icon-scalability-active.png') no-repeat center;background-size:50px;
 }
 .cont-bgimg04{
 background:url('../images/features-icon-cloud-active.png') no-repeat center;background-size:50px;
 }
 
 
.featu-content:hover .cont-bgimg01, .featu-content:hover .cont-bgimg02, .featu-content:hover .cont-bgimg03, .featu-content:hover .cont-bgimg04{
 background-color: #f4f4f4;
 }
